<div class="container" class="bg">
  <form [formGroup]="athleteForm">
    <div class="row">
      <div class="col-sm">
        <label for="">Firstname</label>
        <input class="form-control form-control-lg" type="text" placeholder="Firstname">
      </div>
      <div class="col-sm">
        <label for="">Name</label>
        <input class="form-control form-control-lg" type="text" placeholder="Name">
      </div>
      <div class="col-sm">
        <label for="">Country</label>
        <input class="form-control form-control-lg" type="text" placeholder="Country">
      </div>
    </div>
    <!-- <button class="btn btn-primary" [disabled]="athleteForm.values"></button> -->
    <!-- <p *ngIf="">Athlete was created</p> -->
  </form>
</div>